<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lista de eventos</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="#" />

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-light border border-success rounded  mb-4">
            <button type="button" class="btn btn-outline-success m-1" onclick="rotaAdm()">ADM</button> <button
                type="button" class="btn btn-outline-success m-1">Cliente</button>
        </nav>
        <div class="row">
            <div class="col-md-9">
                <h2>Listagem de Eventos</h2>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Local</th>
                        <th>Data</th>
                        <th>Ingressos disponíveis</th>
                        <th>Empresa</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(eventos.length>0){ %>
                    <% for(let i=0; i < eventos.length;i++){ %>
                    <tr>
                        <td><%= eventos[i].nome %></td>
                        <td><%= eventos[i].local %></td>
                        <td><%= eventos[i].data_formatada %></td>
                        <td><%= eventos[i].ingressos_disp %></td>
                        <td><%= eventos[i].empresa %></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="#" class="btn btn-success"><i class="fas fa-edit"> Comprar</i></a>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <% }else{ %>
                    <tr>
                        <td colspan=5 class="text-center">
                            Não Há produtos para serem listados
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>


        <!-- Footer -->
        <footer class="page-footer font-small bg-light border border-success rounded navbar-fixed-bottom">

            <!-- Copyright -->
            <div class="footer-copyright text-center text-success py-3">© 2020 Copyright:
                <a href="https://mdbootstrap.com/"> MBlaBs.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        function rotaAdm() {
            window.location.href = '/admlogin';
        }
        function rotaCliente() {
            window.location.href = '/clientelogin';
        }            
    </script>
</body>

</html>